.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    font-family: fantasy;
    border-bottom: 1px solid palegreen;
}

img {
    width: 450px;
    height: 300px;
}