* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calc {
    background-color: aquamarine;
    width: 100%;
    height: 200vh;
}

.calculator {
    display: grid;
    grid-template: repeat(5, 60px) / repeat(4, 60px);
    justify-content: center;
    align-items: center;
    background-color: black;
}
