<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Layout Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="zone green">
        <ul class="main-nav">
          <li>
            <a href="#"></a>About<a href="#">Products</a><a href="#">Our Team</a
            ><a class="push" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="zone red">Cover</div>
      <div class="zone blue">Photo Grid</div>
      <div class="zone blue">Footer</div>
    </div>
  </body>
</html>
